{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1>Welcome to PiGuardian!</h1>

        <h3>Your ultimate Raspberry Pi security system.</h3>
        
        <p>
            Secure your space with the power of PiGuardian, your trusted companion in safeguarding what matters most. Whether it's your home, office, or any other personal space, PiGuardian combines cutting-edge technology with ease of use to provide you with complete peace of mind.
        </p>
    </div>
</div>

<hr>

<div>

    <div class="container">

        <div class="row">

            <div class="col w-50">
                <a data-bs-toggle="modal" data-bs-target="#videoModal">
                    <img class="camera-bg img-fluid" class="center" src="{{ url_for('api_blueprint.video_feed') }}">
                </a>
            </div>

        </div>
    </div>

</div>


<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body align-self-center w-75">
                <img class="camera-bg img-fluid w-100" class="center" src="{{ url_for('api_blueprint.video_feed') }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}