{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="row">
    <div>
        <h1>Your Profiles</h1>

        <p>These are your users safely registered with us.</p>

        <button class="btn btn-primary new-button float-end" data-bs-toggle="modal" data-bs-target="#newProfileModal">
            New Profile <i class="fa fa-plus p-1" aria-hidden="true"></i>
        </button>
    </div>
</div>

<hr>

<div>

    <div class="container">

        <div id="main-content" class="file_manager">
            <div class="container">
                <div class="row clearfix">


                    {% for profile in profiles %}

                    <div class="col-lg-3 col-md-4 col-sm-12 p-3">
                        <div class="card">
                            <div class="file position-relative">
                                <div class="hover position-absolute m-1 end-0">
                                    <button type="button" class="btn btn-icon btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                                <div class="overflow-hidden" style="height: 200px;">
                                    <img src="{{ url_for('api_blueprint.static', filename=profile[1]) }}"
                                        class="img-fluid" width="260px" height="195px">
                                </div>
                                <div class="file-name p-2 pt-3 text-center">
                                    <h4 class="m-b-5 text-muted text-capitalize">{{ profile[0] }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}



                </div>

            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="newProfileModal" tabindex="-1" aria-labelledby="newProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel">New Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row p-3 modal-body">

                <div class="align-self-center w-50 col">
                    <img class="camera-bg img-fluid" class="center" src="{{ url_for('api_blueprint.video_feed') }}">
                </div>
                
                <div class="col w-50">
                    {{ render_form(new_profile_form) }}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add new profile</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}